<p>
  <strong>Name:</strong>
  <%= @bienvenido.name %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @bienvenido.usuario %>
</p>

<%= link_to 'Edit', edit_bienvenido_path(@bienvenido) %> |
<%= link_to 'Back', bienvenidos_path %>
